.*
*.o
*.o.*
*.a
*.s
*.so
*.lo
*.la
*.log
*.lst
*.symtypes
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.orig
*.save
*~
Makefile
config.h
config.status
stamp-h1
libtool
docross
doremote
dokvm
mtrace
