Source: mtrace-ng
Section: utils
Priority: optional
Maintainer: Package Maintainers <Package-Maintainers@debian.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, binutils-dev,  libreadline6-dev, libselinux1-dev, libtinfo-dev, libelfg0-dev
Standards-Version: 3.9.4
Vcs-Git: https://github.com/sstefani/mtrace.git


Package: mtrace-ng
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynamic memory tracer and debugger
 mtrace is a dynamic memory tracer, debugger and statistical analyses tool for C and C++, which intercepts, records and reports all kinds of dynamic memory allocations
