Source: mtrace-ng
Section: devel
Priority: optional
Maintainer: Package Maintainers <Package-Maintainers@rohde-schwarz.com>
Uploaders: 
 Stefani Seibold <stefani@seibold.net>,
 Lorenz Bucher <lorenz.bucher.ext@rohde-schwarz.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, binutils-dev,  libreadline6-dev, libselinux1-dev, libtinfo-dev
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/mtrace.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mtrace.git;a=summary
Vcs-Git: https://github.com/sstefani/mtrace.git


Package: mtrace-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: interactive memory tracer
 mtrace is an interactive dynamic memory tracer, debugger and statistical analyses tool for C and C++, which intercepts, records and reports all kinds of dynamic memory allocations
